/*images-for-retina-start*/

@media 	only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-resolution: 1.5dppx),
only screen and (min-resolution: 144dpi)  {
    .first-screen  {
        background-image: url('../img/first-screen@2x.jpg');
    }

    .section-title::after{
        background: url("../img/line@2x.png") no-repeat center center;
    }

    .glazing__description-list{
        list-style-image: url('../img/check-mark@2x.png');
    }

    .glazing__description_cold::before{
        background:  url("../img/glazing-description-decorate-element-cold@2x.png") no-repeat center;
    }

    .glazing__description_warm::before{
        background:  url("../img/glazing-description-decorate-element-warm@2x.png") no-repeat center;
    }

    .our-works__image{
        &::before{
            content: '';
            position: absolute;
            top:50%;
            left:50%;
            display: inline-block;
            width: 40px;
            height: 40px;
            background:  url("../img/zoom-in@2x.png") no-repeat center;
        }
    }

    .guarantees{
        min-height: 655px;
        width: 100%;
        background:  url("../img/quarantees/quarantees-background@2x.png") no-repeat center;
    }

    .guarantees__section-title{
        &::after{
            content: "";
            background: url("../img/quarantees/line@2x.png") no-repeat center center;
        }
    }

    .offers{
        min-height: 600px;
        background:  url("../img/offers/man-with-tool-belt@2x.jpg") no-repeat center;
        background-size: cover;
    }
}

/*images-for-retina-end*/


/*header-start*/

@media (max-width: 1040px){
    .header__title{
        display:none;
    }
    .header__phone-number-number{
        font-size:16px;
    }

}

@media(max-width: 767px){
    .header__work-time{
        display:none;
    }
}

/*modal-start*/

@media (max-width:460px){
    .modal-form{
        width:300px;
    }

    .modal-form__title{
        width:270px;
    }
}

/*modal-end*/

/*header-end*/

/*---------------------------------------------------*/


/*main-start*/

@media(max-width: 640px){
    .section-title{
        font-size: 20px;
    }
}



/*first-screen-start*/

@media(max-width:1050px){
    .first-screen__title{
    font-size:28px;
    }

    .first-screen__title-big-text{
    font-size:35px;
    }
}

@media(max-width:990px){

    .first-screen{
        padding-top: 277px;
    }

    .first-screen__benefit {
        margin-left:15px;
    }
}

@media(max-width:500px){
    .first-screen{
        padding-top: 347px;
    }
}

/*first-screen-end*/



/*glazing-start*/

@media(max-width:568px){
    .glazing__description{
        padding:0;
    }
}


@media(max-width: 790px){
    .glazing__items{
        justify-content: space-evenly !important;
        flex-wrap:  wrap;
    }

    .glazing__item{
        max-width: 156px;
    }

    .glazing__description-cost-button{
        flex-direction: column;
    }
}

@media(max-width: 1200px){
    .glazing__description-cost-button{
        flex-direction: column;
        align-items: center;
    }

    .glazing__description-button{
        margin-left: 0;
        
    }

}

/*glazing-end*/














/*order-finishing-start*/

@media(max-width: 1200px){
    .order-finishing__item{
        font-size: 16px;
        min-height: 80px;
    }
}

@media(max-width: 992px){
    .order-finishing__description-left-part-img{
        object-fit: none;
        height: 442px;
    }
}

@media(max-width: 768px){
    .interior-finishing-cards>.row{
        padding:0;
    }
    .interior-finishing-card__with-material{
        font-size: 9px;
    }
}

@media(max-width:755px){
    .exterior-finishing-cards{
        padding-left:0;
    }
}

@media(max-width: 400px){
    .exterior-finishing-title{
        padding-left: 0;
        text-align: center;
    }
    .exterior-finishing-cards>.row{
        justify-content: space-evenly;
    }
}



/*order-finishing-end*/



/*services-start*/

@media(max-width:768px ){
    .services-card:nth-child(1){
        margin-left: -35px;
    }
    .services-card:nth-child(3){
        padding-left: 28px;
    }
}

/*services-end*/





/*call-the-specialist-start*/

@media(max-width: 968px){
    .call-the-specialist{
        font-size: 25px;
    }
}

@media(max-width: 767px){
    .call-the-specialist{
        font-size: 22px;
        &__left-text{
            margin-bottom: 30px;
        }
        &__right-text{
            margin: 0;
        }
    }
}

/*call-the-specialist-end*/




/*main-end*/