@import "libs";
@import "vars"; 
@import "fonts";



body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 1.2;
}

.container{
    max-width:1200px;
}



/*header-start*/


.header .row{
    padding:0 15px;
}


.header{
    &__logo{
    display: inline;
    padding: 0;
    margin:20px 0;
    }
    &__title{
    width: 22%;
    min-height:29px;
    padding:38px 15px;
    margin:0;
    font-size:14px;
    font-weight:400;
    color: $blue-main;
    }
    &__call-the-measurer{
    width:170px;
    min-height: 60px;
    margin:20px 0;
    color:$green;
    font-weight: bold;
    text-transform: uppercase;
    text-align: start;
    border: 2px solid $green;
    border-radius: 10px;
    background-color: transparent;
    }
    &__call-the-measurer-text{
        display:inline-block;
        min-width:95px;
        min-height:29px;
        margin-left:15px;
    }
    &__work-time{
        display: grid;
        grid-template-columns: 30px 105px;
        grid-template-areas:
        "work-time-img   1"
        "work-time-img   2";
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        min-height: 60px;
        padding:30px 0;
    }
    &__work-time-img{
        grid-area: work-time-img;
        align-self: center;
    
    }
    &__work-time-days{
        align-self: flex-end;
        color: $grey-1;
    }
    &__work-time-time{
        font-size: 18px;
        font-weight: 700;
    }
    &__phone-number{
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-areas:
        "phone-number-img   1"
        "phone-number-img   2";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        padding:0;
        margin-left:15px;
    }
    &__phone-number-img{
        grid-area: phone-number-img;
        width:27px;
    }
    &__phone-number-number{
        text-decoration: none;
        color: $grey-1;
        font-size: 23px;
        font-weight: 800;
    }
    &__phone-number-request{
        font-size: 15px;
        color: $blue-main;
        border:0;
        text-align: start;
        background-color: transparent;
        text-decoration: underline;

    }
}


/*modals-window-start*/

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
    bottom: 0;
    z-index: 10;        
    background-color: rgba($blue-main, 0.58); 
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
    height: auto;
    background-color: #fff;
    &-form{
        position: relative;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:370px;
        min-height:442px;
        margin: auto;
        padding: 40px 50px;
        border-radius: 10px;
        background-color: $white-main;
        &__close{
            position: absolute;
            right:0;
            top:0;
            color: $blue-main;
            align-self:flex-end;
            font-size: 28px;
            font-weight: bold;
            &:focus,
            &:hover{
                text-decoration: none;
                cursor: pointer;
            }
        }
        &__title{
            min-height: 53px;
            margin-top:-4px;
            margin-bottom: 25px;
            font-size: 20px;
            text-align: center;
            color: $grey-1;
            font-weight: bold;
        }
        &__title-big-text{
            font-size: 24px;
            color: $grey-1;
            font-weight: bold;
            line-height: 2;
            text-transform: uppercase;
        }
        &__user-name{  
            position:relative;
            width: 268px;
            min-height: 58px;
            margin-bottom: 22px;
            border: 1px solid $white-1;
            border-radius: 10px;
            font-size: 15px;
            color: $grey-3;
            line-height: 3.2;
            text-align: center;
            &::placeholder{
                font-size: 15px;
                color: $grey-3;
                line-height: 3.2;
                text-align: center;
            }
        }
        &__user-tel{
            position: relative;
            width: 268px;
            min-height: 58px;
            margin-bottom: 22px;
            border: 1px solid $white-1;
            border-radius: 10px;
            font-size: 15px;
            color: $grey-3;
            line-height: 3.2;
            text-align: center;
            &::placeholder{
                font-size: 15px;
                color: $grey-3;
                line-height: 3.2;
                text-align: center;
            }
        }
        &__submit{            
            font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
            width: 268px;
            min-height: 78px;
            margin-bottom: 19px;
            border: 1px solid $yellow-1;
            border-radius: 10px;
            color: $black-1;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 2.4;
            text-align: center;
            vertical-align: middle;
            background: linear-gradient( 180deg, rgb(255,237,38) 0%, rgb(255,180,0) 100%);
            box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
        }
        &__text{
            font-size: 11px;
            font-weight: 300;
            color: $grey-2;
        }
    }
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
    display: flex;
    align-items: center;
	justify-content: center;
}


/*modals-window-end*/

/*header-end*/

/*----------------------------------------*/

/*main-start*/

.first-screen > .container > .row{
    justify-content: space-between;
}

.first-screen{
    background: url('../img/first-screen.jpg')  center no-repeat;
    background-size: cover;
    min-height: 640px;
    width: 100%;
    padding-top: 107px;
    &__title{
        font-size: 26px;
        color: $grey-1;
        font-weight: bold;
        line-height: 1.846;
        &-big-text{
            margin-top: 20px;
            font-size: 55px;
            color: $grey-1;
            font-weight: bold;
            line-height: 0.873;
        }
    }
    &__right-part{
        max-width: none;
    }
    &__benefits{
        margin-top:160px;
    }
    &__benefit{
        position:relative;
        margin-bottom:20px;
        text-align: center;
        &-image{
            position:absolute;
            bottom: 80px;
            left:50%;
            transform:translateX(-50%);
        }
        &-circle{
            padding:0 20px;
            padding-top: 50px;
            width: 110px;
            height:110px;
            font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
            font-size: 16px;  
            font-weight: bold;
            color: $white-main;  
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            border: 1px solid $white-main;
            border-radius: 50%;
            background-color: $blue-1;
        }
    }
    &__modal-form{
        display:flex;
        animation: none;
        margin-left: auto;
    } 
    &__modal-form>.modal-form__close{
        display:none;
    }
}

.section-title{
    padding: 0 38px;
    padding-top: 75px ;
    padding-bottom: 90px;
    font-size: 30px;
    color: $grey-1;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.6;
    &::after{
        content: "";
        position: relative;
        top: 15px;
        display:block;
        width:100%;
        height:2px;
        background: url("../img/line.png") no-repeat center center;
    }
}


/*glazing-start*/



.glazing__item{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.444;
    color: rgb(36, 154, 230);
    text-decoration: underline;
    cursor:pointer;
    &-img{
        margin-bottom: 20px;
    }
    &-text{
        text-align: center;
    }
}



.glazing__description{
    position: relative;
    min-height: 689px;
    padding:0 62px;
    &_cold{
        border-top: 5px solid $blue-main;
        background: url("../img/glazing__description-background-cold.png") no-repeat center;
        background-size: cover;
        &::before{
            content: '';
            position: absolute;
            top:-7px;
            left:0;
            display: inline-block;
            width:100%;
            height:20px;
            background:  url("../img/glazing-description-decorate-element-cold.png") no-repeat center;
        }
    }
    &_warm{
        margin-bottom: 150px;
        border-top: 5px solid $yellow-1;
        background: url("../img/glazing__description-background-warm.png") no-repeat center;
        background-size: cover;
        &::before{
            content: '';
            position: absolute;
            top:-7px;
            left:0;
            display: inline-block;
            width:100%;
            height:20px;
            background:  url("../img/glazing-description-decorate-element-warm.png") no-repeat center;
        }
    }
    &-title{  
        padding: 21px 0;
        width:100%;
        min-height: 90px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2.4;
        text-align: center;
        &_cold{
            color: $blue-1;
        }
        &_warm{
            color: $yellow-1;
        }
    }
    &-img{
        margin:0 auto;
        margin-bottom: 30px;
        width:92%;
        height: 300px;
        object-fit: cover;
    }
    &-list{
        position: relative;
        margin:0;
        margin-bottom: 40px;
        padding-left:55px;
        color: $black-1;
        line-height: 2.143;
        list-style: none;
        &-item{
            min-height:30px;
            &::before{
                content:'';
                position: absolute;
                margin-left: -40px;
                margin-top: 3px;
                display:block;
                width: 25px;
                height:25px;
                background:  url("../img/check-mark.png") no-repeat center center;
            }
        } 
    }
    &-cost-button{
        margin-bottom: 35px;
    }

    &-cost{
        width: 204px;
        min-height: 65px;
        padding: 0 15px;
        font-size: 20px;
        color: $black-1;
        font-weight: bold;
        line-height: 1.5;
        &-small-text{
            font-size: 14px;
            font-weight: 400;
            line-height: 2.143;
        }
    }
    &-button{
        width: 245px;
        min-height: 65px;
        margin:0 15px;
        margin-left: auto;
        font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
        border: 1px solid $yellow-1;
        border-radius: 10px;
        color: $black-1;
        font-size: 19px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2.4;
        text-align: center;
        vertical-align: middle;
        background: linear-gradient( 180deg, rgb(255,237,38) 0%, rgb(255,180,0) 100%);
        box-shadow: 0px 2px 20px 0px rgba(255, 153, 0, 0.4);
    }
}


.glazing-description-block{
    display: none;
}

.glazing_active{
    display: flex;
    color: $grey-4;
    text-decoration: none;
}


/*order-finishing-start*/


.order-finishing{
    min-height: 882px;
    padding-bottom: 80px;
    background-color: $grey-5;
    &__items{
        padding:0 15px;
    }
    &__item{
        position: relative;
        padding:25px 15px;
        min-height: 100px;
        font-size: 20px;
        font-weight: 700;
        color: $black-1;
        text-transform: uppercase;
        line-height: 2.4;
        text-align: center;
        background: none;
        cursor: pointer;
       
        }
        &-text{
            padding-bottom:2px;
            border-bottom: 1px dashed black;
        }
    
    &__description{
        min-height: 565px;
        &-left-part-img{
            width: 300px;
            height: 442px;
            object-fit: cover;
        }
        &-left-part-img{
            width: 100%;
            max-width: 300px;
            height: auto;
        }
        &-center-part{
            display: flex;
            justify-content: center;
            padding: 0;
            padding-left: 5%;
        }
        &-right-part{
            max-width: none
        }
    }
}

.interior-finishing-card{
    padding:0 15px;
    width: 110px;
    min-height: 213px;
    &__img{
        width: 70px;
        height: 70px;
        margin-top: 35px;
        object-fit: cover;
    }
    &__title{
        padding-top:15px;
        font-size: 14px;
        font-weight: 700;
        color: $black-1;
        line-height: 1.429;
        text-align: center;
    }
    &__cost{
        margin-top: auto;
        padding-bottom: 5px;
        font-size: 14px;
        color: $blue-1;
        font-weight: bold;
        line-height: 1.429;
        text-align: center;
    }
    &__with-material{
        padding-bottom: 5px;
        font-size: 12px;
        color: $black-1;
        line-height: 1.333;
        text-align: center;
    }

}


.exterior-finishing{
    &-cards{
        position: relative;
        padding-top: 65px;
    }
    &-cards>.row{
        min-height: 415px;
        padding-bottom: 85px;

    }
    &-title{
        padding: 0;
        padding-left: 15px;
        padding-bottom: 33px;
        font-size: 14px;
        color: $black-1;
        font-weight: bold;
        line-height: 1.143;
    }
    &-card{
        min-width: 72px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    &-card__title{
        padding-top: 15px;
        font-size: 10px;
        color: $black-1;
        line-height: 1.6;
        text-align: center;
    }
}


.order-finishing__cost-and-material{
    position: absolute;
    left:17px;
    bottom: 30px;
}

.order-finishing__cost{
    font-size: 14px;
    color: $blue-1;
    font-weight: bold;
    line-height: 1.429;
}

.order-finishing__with-material{
    margin-bottom: 10px;
    font-size: 12px;
    color: $black-1;
    line-height: 1.333;
}

.outdoor-glazing{
    &-cards{
        position: relative;
        padding-top: 65px;
       
    }
    &-cards>.row{
        min-height: 414px;
    }
    &-card{
        min-height:32px;
        width:180px;
        margin-bottom: 30px;
        &__img{
            padding-right: 20px;
            align-self: center;
        }
        &__text{
            font-size: 12px;
            color: $black-1;
            line-height: 1.333;
        }
    }
    &-title{
        padding: 0;
        padding-bottom: 33px;
        font-size: 14px;
        color: $black-1;
        font-weight: bold;
        line-height: 1.143;
    }
}

.outdoor-glazing-cards .order-finishing__cost-and-material{
    position: absolute;
    bottom: 120px;
}

.outdoor-glazing-card:nth-child(4){
    margin-bottom: 0;
}

.outdoor-glazing-card:nth-child(4)>img{
    padding-left: 13px;
    padding-right: 16px;
}





.balcony-roof{
    &-cards{
        position: relative;
        padding-top: 65px;
    }
    &-title{
        padding: 0;
        padding-bottom: 26px;
        font-size: 14px;
        color: $black-1;
        font-weight: bold;
        line-height: 1.143;
    }
    &-cards>.row{
        min-height: 414px;
        padding-bottom: 85px;
    }
    &-card{
        height:50px;
        margin-bottom: 20px;
        &__img{
            padding-right: 20px;
            align-self: center;
        }
        &__text{
            padding: 0;
            font-size: 12px;
            color: $black-1;
            line-height: 1.143;
        }
    }
}

.balcony-roof-cards .order-finishing__cost-and-material{
    position: absolute;
    bottom: 120px;
}


.order-finishing__description{
    display: none;
}



.order-finishing__item.order-finishing-active{
    display: flex;
    justify-content: center;
    color: $blue-main;
    background:  url("../img/order-finishing__item-background.png") no-repeat center;
    background-size: cover;
    &::before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        display: inline-block;
        width:100%;
        height:20px;
        background:  url("../img/order-finishing__item_active--decorate-element.png") no-repeat center;
    }
    &>.order-finishing__item-text{
        border-bottom: none;
    }
}

.order-finishing__description.order-finishing-active{
    display:flex;
    background: transparent;
}

/*order-finishing-end*/






/*our-works-start*/

.our-works{
    min-height: 922px;
    padding-bottom: 50px;
    
}

.our-works__image{
    position:relative;
    display: block;
    height: 278px;
    margin-bottom: 30px;

    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 40px;
        height: 40px;
        background:  url("../img/zoom-in.png") no-repeat center;
    }
}

.our-works__image>img{
	width: 100%;
	height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/*our-works-end*/


/*guarantees-start*/

.guarantees{
    min-height: 655px;
    width: 100%;
    background:  url("../img/quarantees/quarantees-background.png") no-repeat center;
    background-size: cover;
    &__section-title{
        color: $white-main;
        &::after{
            content: "";
            background: url("../img/quarantees/line.png") no-repeat center center;
        }
    }
    &-card{
        margin-bottom: 83px;
        &__image{
            padding-bottom: 30px;
        }
        &__text{
            width: 170px;
            font-size: 18px;
            color: $white-main;
            line-height: 1.2;
            text-align: center;
        }
        &:nth-child(4) .guarantees-card__text{
            margin-top: auto;
        }
        &:nth-child(6) .guarantees-card__text{
            width: 130px;
        }
    }
}

/*guarantees-end*/





/*services-start*/

.services{
    min-height: 342px;
    padding-bottom: 92px;
    &__section-title{
        text-transform: none;
    }
    &-card{
        padding-bottom: 30px;
        &__image{
            padding-right: 20px;
        }
        &__text{
            font-size: 20px;
            color: $black-1;
            line-height: 1.5;
        }
    }
}

/*services-end*/


/*offers-start*/


.offers{
    min-height: 600px;
    background:  url("../img/offers/man-with-tool-belt.jpg") no-repeat center;
    background-size: cover;
    &>.container{
        padding-top: 75px;
    }
    &__title{
        padding:0 15px;
        font-size: 48px;
        color: $blue-main;
        font-weight: bold;
        line-height: 1;
        text-transform: uppercase;
    }
    &__text{
        width: 428px;
        padding:0 15px;
        padding-top: 90px;
        padding-bottom: 85px;
        font-size: 24px;
        color: $black-1;
        line-height: 1.667;
    }
}

/*flipdown-start*/

.flipdown-block{
    width: 260px;
    height: 160px;
    border-radius: 15px;
    background: $white-main;
    &__text{
        padding: 20px 0 ;
        font-size: 14px;
        color: $black-1;
        text-transform: uppercase;
        line-height: 2.357;
        text-align: center;
        font-weight: 700;
    }
}


.flipdown{
    display: flex;
    justify-content: center;
    zoom: 0.5;
    -moz-transform: scale(0.5);
}


.rotor-group::before,
.rotor-group::after{
    content: none !important;
}

.rotor-group-heading::before{
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 30px;    
    line-height: 2.538;
}


.flipdown .rotor{
    margin: 0;
    font-size: 70px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border-radius: 0;
}

.flipdown .rotor:nth-child(2){
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.flipdown .rotor:nth-child(3){
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.flipdown .rotor-group{
    padding-right: 17px;
}



.rotor-top,
.rotor-bottom,
.rotor-leaf,
.rotor-leaf-front,
.rotor-leaf-rear,
.flipped{
    width: 50px !important;
    border-radius: 15px !important;
}


/*flipdown-end*/

/*offers-end*/



/*contacts-start*/

.contacts{
    padding-bottom: 80px;
    &-map{
        margin-bottom: 33px;
    }
    &-card{
        padding-bottom: 33px;
        &__title{
            padding-bottom: 15px;
            margin:0;
            font-size: 15px;
            color: $blue-main;
            font-weight: 700;
        }
        &__text{
            display: block;
            font-size: 18px;
            color: $black-1;
            line-height: 1.444;
            font-weight: 700;
        }
        &__small-text{
            font-weight: 400;
        }
    }
}

/*contacts-end*/



/*call-the-specialist-start*/

.call-the-specialist{
    padding: 81px 15px;
    font-size: 30px;
    color: $white-main;
    line-height: 0.867;
    background-color: $blue-main;
    &__right-text{
        margin-left: 36px;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
    }
}

/*call-the-specialist-end*/


*{
    outline: 1px solid black;
}








/*main-end*/
@import "media"; 

